
.icon-lock:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-moon:before { content: '\e803'; } /* '' */
.icon-cloud:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-eye-outline:before { content: '\e806'; } /* '' */