/*This file contains all our variables*/
//Variables
	/* are placeholders for storing information that you want to reuse throughout your styles.
	You can store things like colors, font-stacks, or any css value you think you might want
	to reuse. SCSS uses the '$' symbol to declare variables. */

$icon-eye: #F08080;
$eye-background: #c1e1c9;
$icon-flash:#c1e1c9;
$flash-background:#F08080
$hover-color: #FFF;
